.pagInteira{
    Width: 100%;
    Height: auto;
    display: flex;
    justify-content: center;
}
.tela {
    display: flex;
    Width: 1025px;
    Height: 839px;
    background-color: #27AE60;
}

.ladoEsquerdo {
    Width: 400px;
    Height: 470px;
    background-color: red;
}
.forca {
    width: 400px;
    height: 466.67px;
}

.ladoDireito {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    Height: 470px;
    width: 100%;
    background-color: aqua;
    position: relative;
}
.botao{
  position: absolute;
  top: 15px;
    background-color: red;
}
.chute {
    font-size: 50px;
    position: absolute;
    bottom: 15px;
    background-color: blue;
}

.escolherPalavra {
    width: 200px;
    height: 60px;
    background-color: #27AE60;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700px;
}

